div{
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin: 50px;                
}

img{
    width: 300px;
    height: 300px;          
}

h1{
    text-align: center;
}

details{
    background-color: rgb(240, 235, 230);
    border-style: groove;
}

details:hover{
    background:#dacfcf
}